In [99]:
import urllib   #获取网页数据

head ={"User-Agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/96.0.4664.110 Safari/537.36"}

In [100]:
import datetime

start = '20200116'
end = '20211222'

datestart = datetime.datetime.strptime(start,'%Y%m%d')
dateend = datetime.datetime.strptime(end,'%Y%m%d')

In [101]:
date = []
while datestart <= dateend:
    date.append(datestart.strftime("%Y%m%d"))
    datestart += datetime.timedelta(days=1)

In [102]:
province_index = {'Beijing':0,'Hubei':16,'Guangdong':18,'Yunnan':24}

In [107]:
import pandas as pd
df = pd.DataFrame(index=province_index.keys(),columns=date)
df

,20200116,20200117,20200118,20200119,20200120,20200121,20200122,20200123,20200124,20200125,...,20211213,20211214,20211215,20211216,20211217,20211218,20211219,20211220,20211221,20211222
北京,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
湖北,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
广东,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
云南,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [109]:
import json

for i in date:
    url = "http://49.4.25.117/JKZX/yq_{}.json".format(i)
    request = urllib.request.Request(url,headers=head)                #发送请求
    try:
        response = urllib.request.urlopen(request,timeout=5)          #获取反应
        html=response.read().decode("utf-8")                          #获取网页内容
    except urllib.error.URLError as e:
        if hasattr(e,"code"):
              print(e.code)
        if hasattr(e,"reason"):
              print(e.reason)
    data = json.loads(html)
    for j in province_index:
        df[i][j] = data["features"][province_index[j]]["properties"]['新增确诊']

In [117]:
df['all'] = [df.sum(axis=1)[0],df.sum(axis=1)[1],df.sum(axis=1)[2],df.sum(axis=1)[3]]

In [129]:
df

,20200116,20200117,20200118,20200119,20200120,20200121,20200122,20200123,20200124,20200125,...,20211214,20211215,20211216,20211217,20211218,20211219,20211220,20211221,20211222,all
Beijing,0,0,0,0,3,5,4,12,10,15,...,0,0,1,1,0,4,1,0,0,1205.0
Hubei,4,17,59,77,72,105,69,105,180,323,...,0,1,0,0,0,0,0,0,0,69275.0
Guangdong,0,0,0,0,0,12,6,21,25,20,...,4,6,6,7,8,10,10,5,9,3395.0
Yunnan,0,0,0,0,0,1,0,1,3,6,...,3,1,5,1,3,2,0,4,1,1791.0

In [130]:
df.to_csv('data.csv',header = True,index = True)